/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

nav a:hover {
  color: #eeff25;
}

nav a.active {
  color: rgb(238, 255, 37);
}

.thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-tabs__tab-list {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
